python-dotenv
tokenizers>=0.21
smolagents[litellm]
pytz
pyyaml
gradio
markdownify
requests
duckduckgo_search
pandas
ddgs
opentelemetry-sdk 
opentelemetry-exporter-otlp 
openinference-instrumentation-smolagents 
langfuse
langchain-community
langchain-text-splitters
rank-bm25
